* {
    margin:0;
    padding:0;
}

body {
    background-color: rgb(74, 63, 110);
}

.field {
    width: 90%;
    height: calc(100% - 50px);
    margin: 0 auto;
    justify-content: center;
    right: 5%;
}

.nav {
    list-style-type: none;
    height: 100px;
    padding-top: 80px;
    overflow: hidden;
}

.element {
    margin: 0 auto;
    background-color: rgba(157, 148, 183, 0.74);
    width: 70%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, .2);
    letter-spacing: 1px;
}

.element a {
    display: inline-block;
    text-decoration: none;
    width: 19.557%;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    text-align: center;
    color: rgb(76, 76, 76);
    transition: .5s;
}

.element a:hover {
    background-color: rgb(74, 63, 110);
    color: #f2f2f2;
}

.guide {
    list-style-type: none;
    margin-left: auto;
    padding: 0;
    width: 17%;
    border-radius: 15px;
    border: 2px solid #727070;
    position: sticky;
    top: 20%;
    right: 5%;
    background-color: rgba(157, 148, 183, 0.74);
    box-shadow: 7px 7px 3px rgba(0, 0, 0, .2);
    opacity: 1;
}

.guide a {
    text-decoration: none;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    padding: 20px 0;
    color: #3b3b3b;
    border-radius: 15px;
    border-bottom: 2px solid #727070;
    transition: .3s;
    opacity: 1;

}

.lastColumn a {
    border-bottom: 0;
}

.guideColumn a:hover {
    background-color: rgb(74, 63, 110);
    color: #f2f2f2;
}

h1 {
    text-align: center;
    color: #4c4c4c;
    font-size: 50px;
    letter-spacing: 15px;
}

.mainText {
    overflow: auto;
}

/*.field:after {*/
/*    background-color: #e8e8e8;*/
/*    content: "";*/
/*    width: 80%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    right: 10%;*/
/*    z-index: -1;*/
/*    top: 0;*/
/*}*/

.down {
    text-align: center;
    height: 50px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
}
.info {
    font-size: 15px;
    color: #4c4c4c;
    line-height: 30px;
    letter-spacing:4px;
}
.mail {
    font-size: 15px;
    color: #a0a2a0;
    line-height: 30px;
    letter-spacing:1px;
}